/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 998;
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
  flex-grow: 1;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #333;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

nav ul li:hover > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

nav ul li ul {
  display: none;
}

nav ul li ul li {
  width: 100%;
}

nav ul li ul li a {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
}

.nav-icon {
  display: none;
  font-size: 32px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .container {
    justify-content: center;
  }
  
  nav {
    position: static;
    display: none;
  }
  
  nav ul {
    flex-direction: column;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  .nav-icon {
    display: block;
  }
  
  .nav-icon:hover {
    color: #999;
  }
  
  #nav:checked ~ nav {
    display: block;
  }
  
  #nav:checked ~ .nav-icon:before {
    content: "\f00d";
  }
  
  #nav:not(:checked) ~ .nav-icon:before {
    content: "\f0c9";
  }
}

/* Jumbotron Styles */

.jumbotron {
  background-image: url('https://images.unsplash.com/photo-1579112718353-ef44f7c90156?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

